[submodule "externals/mcx"]
	path = externals/mcx
	url = https://github.com/ianhbell/mcx.git
[submodule "externals/Eigen"]
	path = externals/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "externals/autodiff"]
	path = externals/autodiff
	url = https://github.com/autodiff/autodiff
