/bld
/bldgcc
/build
/dist
/interface/teqpversion.hpp
/pypirc
/boost_teqp
/teqp.egg-info
/dev/docker/valgrind/output
/dev/docker/gcov/output
/**/.ipynb_checkpoints
/doc/build
/**/.DS_Store
doc/source/_static/doxygen
doc/source/api/*.rst
doc/source/examples/*.pdf
interface/CPP/model_schemas.cpp

interface/CPP/model_schemas.json
